body{
    margin: 0;
    padding: 0;

  background-image: url(resturent-bg.avif);
  background-repeat: no-repeat;
  background-size: 100%;
  
}
nav{
    margin:0;
    padding: 0;
    background-color: black;
    width: 15%;
    height: 100vh;

}

#cont{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{

text-decoration: none;
color: red;
padding: 20px 20px;
display: block;
text-align: center;
font-size: 20px;
border-bottom: 2px solid rgb(13, 255, 0);

}
a:hover{
    background-color: yellow;
    color: rgb(0, 0, 0);
  
}
#vmenu{

list-style-type: none;

padding: 0;
margin: 0;
background-color: rgb(4, 4, 4);
position: absolute;

top: 0%;
left: 100%;
display: none;
width: 100%;



}
#vdrop{
    position: relative;
}

#vdrop:hover #vmenu{
    display: block;
    border: 2px solid yellowgreen;
}

#nvmenu{

    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    
    
    
    }
#nvdrop{
        position: relative;
    }
#nvdrop:hover #nvmenu{
    display: block;
    border: 2px solid yellowgreen;

}


#vbmenu{

    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    
    
    }

#vBdrop{
    position: relative;
}   

#vBdrop:hover #vbmenu{
    display: block;
    border: 2px solid yellowgreen;
}


#vlmenu{

    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    
    
    }

#vldrop{
    position: relative;
}   

#vldrop:hover #vlmenu{
    display: block;
    border: 2px solid yellowgreen;
}

#vdmenu{

    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    
    
    }

#vddrop{
    position: relative;
}   

#vddrop:hover #vdmenu{
    display: block;
    border: 2px solid yellowgreen;
}


#nvbmenu{

    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    
    
    }

#nvbdrop{
    position: relative;
}   

#nvbdrop:hover #nvbmenu{
    display: block;
    border: 2px solid yellowgreen;
}



#nvlmenu{

    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    
    
    }

#nvldrop{
    position: relative;
}   

#nvldrop:hover #nvlmenu{
    display: block;
    border: 2px solid yellowgreen;
}



#nvdmenu{

    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    
    
    }

#nvddrop{
    position: relative;
}   

#nvddrop:hover #nvdmenu{
    display: block;
    border: 2px solid yellowgreen;
}

#dmenu{
    list-style-type: none;
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 0%;
    left: 100%;
    display: none;
    width: 100%;
    

}

#ddrop{
    position: relative; 
}

#ddrop:hover #dmenu{
    display: block;
}















